@font-face {
    font-family: 'et-book';
    src: url('/static/fonts/et-book-roman-old-style-figures/etbookot-roman-webfont.woff2') format('woff2'),
         url('/static/fonts/et-book-roman-old-style-figures/etbookot-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'et-book';
    src: url('/static/fonts/et-book-display-italic-old-style-figures/etbookot-italic-webfont.woff2') format('woff2'),
         url('/static/fonts/et-book-display-italic-old-style-figures/etbookot-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'et-book';
    src: url('/static/fonts/et-book-bold-line-figures/etbookot-bold-webfont.woff2') format('woff2'),
         url('/static/fonts/et-book-bold-line-figures/etbookot-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

html, body {
  font-family: 'et-book', Georgia, serif;
  font-variant-ligatures: common-ligatures;
  font-variant-numeric: oldstyle-nums;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: [sidebar] 10vw [material] 90vw;
  grid-template-rows: [everything] 100vh;
}

h1 {
  font-weight: normal;
  font-size: calc( 2.25em + (11.25 - 2.25) * ( (100vw - 20em) / ( 100 - 20) ));
}

nav {
  display: none;
}

#material {
  margin: 0 auto;
  max-width: 80vw;
}

#pulltab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#pulltab > svg {
  display: block;
}
