@font-face {
    font-family: 'et-book';
    src: url('/static/fonts/et-book-roman-old-style-figures/etbookot-roman-webfont.woff2') format('woff2'),
         url('/static/fonts/et-book-roman-old-style-figures/etbookot-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'et-book';
    src: url('/static/fonts/et-book-display-italic-old-style-figures/etbookot-italic-webfont.woff2') format('woff2'),
         url('/static/fonts/et-book-display-italic-old-style-figures/etbookot-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'et-book';
    src: url('/static/fonts/et-book-bold-line-figures/etbookot-bold-webfont.woff2') format('woff2'),
         url('/static/fonts/et-book-bold-line-figures/etbookot-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html, body {
  font-family: 'et-book', Georgia, serif;
  font-variant-ligatures: common-ligatures;
  font-variant-numeric: oldstyle-nums;
  margin: 0;
}

/* body { */
/*   display: grid; */
/*   grid-template-columns: 30px auto; */
/*   grid-template-rows: 100vh; */
/*   grid-template-areas: "sidebar main" */
/* } */

h1 {
  font-weight: normal;
  font-size: calc( 2.25em + (11.25 - 2.25) * ( (100vw - 20em) / ( 100 - 20) ));
}

p, ul, li {
  font-weight: normal;
  font-size: calc( 1em + (2 - 1) * ( (100vw - 20em) / ( 100 - 20) ));
}
/* #material { */
/*   grid-area: main; */
/* } */

/* #material > header { */
/*   padding: 2em; */
/* } */

/* #pulltab { */
/*   display: flex; */
/*   flex-direction: column; */
/*   justify-content: center; */
/*   align-items: flex-start; */
/*   grid-area: sidebar; */
/*   position: relative; */
/* } */

/* #pulltab > #edit { */
/*   display: block; */
/*   visibility: hidden; */
/* } */


/* #edit { */
/*   visibility: hidden; */
/* } */

/* pulltab hover effects */
/* #pulltab:hover { */
/*   background-color: #eee8d5; */
/*   cursor: pointer; */
/* } */

/* #pulltab:hover > #edit { */
/*   visibility: visible; */
/* } */

/* /1* Swipe.js *1/ */
/* .swipe { */
/*   overflow: hidden; */
/*   visibility: hidden; */
/*   position: relative; */
/* } */
/* .swipe-wrap { */
/*   overflow: hidden; */
/*   position: relative; */
/* } */
/* .swipe-wrap > div { */
/*   float: left; */
/*   width: 100%; */
/*   position: relative; */
/*   overflow: hidden; */
/* } */
